* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}
/* common css end */
/* navbar css start */
.headingNav {
  background-color: rgba(128, 128, 128, 0.747);
}
.logo {
  width: 56px;
  height: 56px;
}
.navlogo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navlogo .logo-text {
  font-size: 18px;
  font-weight: 500;
  color: #e21b1b;
}
.navlogo:hover .logo-text {
  color: #3b3bfcd8;
}
.navMenu ul {
  gap: 35px;
}
.navMenu ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #3b3bfcd8 !important;
}
.navMenu ul li a:hover {
  color: #e21b1b !important;
}
.nev-btn {
  color: #3b3bfcd8;
  border: 2px solid #e21b1b;
}
.nev-btn:hover {
  background-color: #e21b1b;
  border: 2px solid #e21b1b;
}
/* navbar css end */
